@tailwind base;
@tailwind components;
@tailwind utilities;
@include('index.css');

/*----------------------- Header --------------------------------*/

header #top {
    padding: 150px 0;
    margin-left: 20px;
}

header #title {
    font-size: 1.1rem;
    color: darkgray;
    letter-spacing: -1px;
}

header #text {
    font-size: 2rem;
        letter-spacing: 0px;
}

header #text #name {
    color: var(--red-color);
    text-transform: uppercase;
}

header #subtitle {
    font-size: 1.5rem;
    font-weight: bolder;
}

header .title-text{
    font-size: 16px;
}

.social {
    padding-top: 50px;
}

.social h2 {
    font-weight: bolder;
    font: 1.2em Roboto Mono, monospace;
    color: var(--red-color);
}

.socialIcon {
    box-shadow: 10px 10px 19px var(--gray-color), -10px -10px 19px var(--green-color);
    width: 2rem;
        height: 2rem;
    opacity: 0.7;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: var(--black-color);
    color: var(--green-color);
}

.socialIcon:hover {
    -translate-y: -10px;
    transition: all .8s ease;
    animation: icon-hover .8s forwards;
    cursor: pointer;
    background-color: var(--red-color);
    color: var(--white-color);
}


@keyframes icon-hover {
    from {
        transform: scale(1);
        font-size: 1.5rem;
    }

    to {
        transform: scale(1.2);
        font-size: 1.8rem;
    }
}

header #top img {
    filter: grayscale;
}
/*----------------------- Features --------------------------------*/