@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #2f4f4f;

    --red-color: #a75267;
    --white-color: #ffffff;
    --green-color: #2f4f4f;
    --black-color: #000000;
}

section,
header {
    height: 100vh;
    color: var(--white-color);
}


nav a img:hover {
    opacity: 0.7;
    transition: 0.5s ease-out;
    transform: scale(0.98);
}

nav ul li a.active {
    color: var(--red-color);
    font-weight: bolder;
    border-bottom: 2.5px solid var(--red-color);
}

nav ul li a:hover {
    color: var(--red-color);
}

header #top {
    padding: 150px 0;
    margin-left: 10px;
}

header #title {
    font-size: 1.2rem;
}

header #text {
    font-size: 2.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #text #name {
    color: var(--red-color);
    text-transform: uppercase;
}

header #subtitle {
    font-size: 1.5rem;
    font-weight: bolder;
}

@layer components {
    .socialIcon {
        @apply bg-blue-500 shadow-shadowOne hover: -translate-y-1 transition-all duration-300 hover:var(--red-color);
    }
}

.socialIcon {
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    width: 3rem;
    height: 3rem;
    opacity: 0.6;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: var(--black-color);
}   

.socialIcon:hover {
    -translate-y: -10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: var(--red-color);
}