@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    font-family: 'Roboto Mono';
    background: #2f4f4f;

    --red-color: #c75757;
    --white-color: #ffffff;
    --green-color: #2f4f4f;
    --black-color: #101826;
    --gray-color: #1F2937;
}

section {
    height: 100vh;
    color: var(--white-color);
}

nav img:hover {
    filter: grayscale;
    transition: all .1 ease-in-out;
    transform: scaleX(-1);
}
nav ul li a {
    background: transparent;
    padding: 8px 12px;
    font-weight: bolder;
    text-transform: capitalize;
}

nav ul li a.active {
    color: var(--white-color);
    background: var(--green-color);
}

nav ul li a:hover {
    color: var(--white-color);
    background: var(--green-color);
        opacity: .7;
}